

.product_item{
    width: 100%;
    float: left;
    padding: 0 5px;
}

.product_item a:hover {
    text-decoration: none;
}

.item_img-block{
    height: 260px;
}

.product_item img{
    margin: 0 auto;
    max-height: 250px;
    max-width: 200px;
}

.item_title{
    font-size: 14px;
    height: 18px;
    width: 100%;
    overflow: hidden;
}
